<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>jobSeekerController</servlet-name>
  	<display-name>jobSeekerController</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.jobSeekerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>consultantController</servlet-name>
  	<display-name>consultantController</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.consultantController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userController</servlet-name>
  	<display-name>userController</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.userController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>jobseekerController</servlet-name>
  	<display-name>jobseekerController</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.jobseekerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginController</servlet-name>
  	<display-name>loginController</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.loginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>schedule</servlet-name>
  	<display-name>schedule</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.schedule</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>retrievedata</servlet-name>
  	<display-name>retrievedata</display-name>
  	<description></description>
  	<servlet-class>com.codewithraz.project.controller.retrievedata</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jobSeekerController</servlet-name>
  	<url-pattern>/jobSeekerManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>jobSeekerController</servlet-name>
  	<url-pattern>/getjobSeeker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>consultantController</servlet-name>
  	<url-pattern>/consultantmanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>consultantController</servlet-name>
  	<url-pattern>/getcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userController</servlet-name>
  	<url-pattern>/usermanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userController</servlet-name>
  	<url-pattern>/getuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>jobseekerController</servlet-name>
  	<url-pattern>/jobseekerManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>jobseekerController</servlet-name>
  	<url-pattern>/getjobseeker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginController</servlet-name>
  	<url-pattern>/loginManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginController</servlet-name>
  	<url-pattern>/getlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/managelogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/getlogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/getloginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>schedule</servlet-name>
  	<url-pattern>/manageschedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>schedule</servlet-name>
  	<url-pattern>/getschedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>retrievedata</servlet-name>
  	<url-pattern>/getretrievedata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>retrievedata</servlet-name>
  	<url-pattern>/getretrievemanager</url-pattern>
  </servlet-mapping>
  
</web-app>
